{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new machine</title>
    <link rel="stylesheet" href="{% static 'stylesheet/machinery.css' %}">
</head>
<body>
    <div class="container">
        <div style="text-align: center;padding: 100px;">
            <p>Fill the Details to add new machine</p>
        </div>
        <form action="/project/addmachine" method="POST" class="centreform">
            {%csrf_token%}
            <input type="text" placeholder="barcode/machine id" required name="barcode" >
            <select name="item_cat">
                {%for m in machines%}
                    <option value="{{m.name}}" >{{m.name}}</option>
                {%endfor%}
            </select>
            <div>
                <input type="submit" value="add machine" style="background-color: green;" class="submit">
            </div>
            <div>
                {% for message in messages %}
                <p>{{message}}</p>
                {%endfor%}
            </div>
        </form>
    </div>    
</body>
</html>