{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new tools</title>
    <link rel="stylesheet" href="{% static 'stylesheet/machinery.css' %}">
</head>
<body>
    <div class="container">
        <div style="text-align: center;padding: 100px;">
            <p>Fill the Details to add new tools or to increase total quantity</p>
        </div>
        <form action="/project/addtools" method="POST" class="centreform">
            {%csrf_token%}
            <input type="text" placeholder="Total quantity ?" required name="total_quantity" >
            <select name="item_cat">
                {%for m in tools%}
                    <option value="{{m.name}}" >{{m.name}}</option>
                {%endfor%}
            </select>
            <div>
                <input type="submit" value="add tools" style="background-color: green;">
            </div>
            <div>
                {% for message in messages %}
                <p>{{message}}</p>
                {%endfor%}
            </div>
        </form>
    </div>    
</body>
</html>